* {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
  font-size: 1em;
}

.fakeBody {
  display: grid;

  background-color: lightgray;
  justify-content: center;
  margin: 4vw;
}

.mainHeader {
  display: flexbox;
  padding: 5px;
  justify-content: left;
  font-style: italic;
}

.signLightingHeader {
  justify-content: left;
  border: 3px;
}

.signLightingHeaderTable {
  display: grid;
  grid-template-columns: repeat(100, 0.91vw);
  grid-template-rows: repeat(3, 5vh);
}

.mainHeader {
  display: grid;
  grid-template-columns: repeat(100, 0.91vw);
  grid-template-rows: repeat(3, 2.5vh);
}

.text-field {
  grid-column: 1;
  white-space: nowrap;
}

.text-field.left {
  text-align: left;
}

.text-field.right {
  grid-row: 3;
  grid-column: 70;
  text-align: right;
  white-space: nowrap;
  border: none;
}

.ltsGrid {
  border: 3px;
  border-style: solid; 
  border-color: black;
  background-color: lightgray ;
}

.ltsGrid_tableA {
  display: grid;
  grid-template-columns: repeat(100, 0.91vw);
  grid-template-rows: repeat(5, 5vh);
}

.ltsGrid_tableB {
  display: grid;
  grid-template-columns: repeat(100, 0.91vw);
  grid-template-rows: repeat(6, 5vh);
}

.ltsGrid_tableC {
  display: grid;
  grid-template-columns: repeat(100, 0.91vw);
  grid-template-rows: repeat(8, 6vh);
}

.ltsGrid_tableD {
  display: grid;
  grid-template-columns: repeat(100, 0.91vw);
  grid-template-rows: repeat(3, 5vh);
}

.ltsGrid_tableE {
  display: grid;
  grid-template-columns: repeat(100, 0.91vw);
  grid-template-rows: repeat(3, 5vh);
}

.ltsGrid_tableF {
  display: grid;
  grid-template-columns: repeat(100, 0.91vw);
  grid-template-rows: repeat(2, 6vh);
}

.ltsGrid_tableG {
  display: grid;
  grid-template-columns: repeat(100, 0.91vw);
  grid-template-rows: repeat(2, 6vh);
}

.ltsGrid_tableH {
  display: grid;
  grid-template-columns: repeat(100, 0.91vw);
  grid-template-rows: repeat(2, 6vh);
}

.ltsGrid_tableI {
  display: grid;
  grid-template-columns: repeat(100, 0.91vw);
  grid-template-rows: repeat(4, 6vh);
}

.ltsGrid_tableJ {
  display: grid;
  grid-template-columns: repeat(100, 0.91vw);
  grid-template-rows: repeat(3, 6vh);
}

.ltsGrid > * {
  border: 2px;
  border-style: solid;
  border-color: black;
}

.hover:hover {
  background-color: #ffff0025;
}

.tableHeader {
  padding-left: 0.5vw;
  display: flex;
  align-items: center;
  grid-column: span 100;
  font-weight: bolder;
  font-size: 1.5em;
  background-color: lightgray;
}

.header {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
  background-color: lightgray;
  grid-column: span 25;
}

.headerNum {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 5;
  grid-row: span 1;
}

.headerDirections {
  grid-column: span 100;
  grid-row: span 2;
  display: flex;
  align-items: center;
  font-style: italic;
}

input {
  grid-column: span 70;
}

select {
  grid-column: span 70;
}

.reset {
  background-color: #ffa500;
}

.groupCheckboxOuter {
  grid-column: span 70;
  display: flex;
  display: flex;
  align-items: center;
}

.span2Row {
  grid-row: span 2;
}

.checkBoxA {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(2);
  padding-right: 5px;
}

.checkBoxF {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(2);
}

.checkBoxI {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
}

input {
  margin: 0;
}

.inputWrapper {
  grid-column: span 70;
  display: flex;
  padding-left: 10px;
  align-items: center;
}

label {
  padding: 10px;
}

.spaceBetweenTables {
  border-right: 4px solid black;
  border-left: 4px solid black;
  background-color: lightgray;
}

.headerHeader {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
  background-color: lightgray;
  grid-column: span 20;
}

.headerInput {
  margin: 0;
  grid-column: span 80;
}

.fullLengthRow {
  grid-column: span 100;
}

.twoRows {
  grid-row: span 2;
}

.B01 {
  grid-column: span 20;
}

.B02 {
  grid-column: span 20;
}

.B03 {
  grid-column: span 20;
}

.B04 {
  grid-column: span 20;
}

.B05 {
  grid-column: span 20;
}

.C01 {
  grid-column: span 10;
}

.c01_begincap {
  grid-column: span 75;
}



.C02 {
  grid-column: span 19;
}

.C03 {
  grid-column: span 10;
}

.C-GT {
  grid-column: span 2;
}

.C04 {
  grid-column: span 10;
}

.C-OR1 {
  grid-column: span 3;
}

.C05 {
  grid-column: span 8;
}

.C-OR2 {
  grid-column: span 3;
}

.C06 {
  grid-column: span 10;
}

.C07 {
  grid-column: span 25;
}

.D01 {
  grid-column: span 100;
}

.E01 {
  grid-column: span 100;
}

.doubleRow {
  grid-row: span 2;
}

.F01 {
  grid-column: span 8;
}

.F01_begincap {
  grid-column: span 24;
}

.F01_begincap_extralong {
  grid-column: span 80;
}

.F01_begincap_extralong2 {
  grid-column: span 90;
}

.F02 {
  grid-column: span 16;
}

.F02_extraLong {
  grid-column: span 92;
}

.F03 {
  grid-column: span 8;
}

.F04 {
  grid-column: span 8;
}

.F04_doublewide {
  grid-column: span 16;
}

.F05 {
  grid-column: span 8;
}

.F06 {
  grid-column: span 8;
}

.F07 {
  grid-column: span 8;
}

.F07_doublewide {
  grid-column: span 16;
}

.F08 {
  grid-column: span 24;
}

.F08a {
  grid-column: span 8;
}

.F08b {
  grid-column: span 8;
}

.F08c {
  grid-column: span 8;
}

.F08_endcap {
  grid-column: span 20;
}

.F09 {
  grid-column: span 12;
}

.F09a {
  grid-column: span 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.F09b {
  grid-column: span 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.G01 {
  grid-column: span 20;
}

.G01_begincap {
  grid-column: span 80;
}

.g01_Begincap_Longer {
  grid-column: span 90;
}

.G02 {
  grid-column: span 20;
}

.g02_Endcap {
  grid-column: span 80;
}

.G03 {
  grid-column: span 20;
}

.G04 {
  grid-column: span 20;
}

.G04a {
  grid-column: span 7;
}

.G04b {
  grid-column: span 7;
}

.G04c {
  grid-column: span 6;
}

.G05 {
  grid-column: span 20;
}

.G05a {
  grid-column: span 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.G05b {
  grid-column: span 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.g05_Endcap {
  grid-column: 80;
}

.h01 {
  grid-column: span 20;
}

.h01_begincap {
  grid-column: span 90;
}

.h02 {
  grid-column: span 20;
}

.h03 {
  grid-column: span 40;
}

.h03a {
  grid-column: span 13;
}

.h03b {
  grid-column: span 13;
}

.h03c {
  grid-column: span 14;
}

.h04 {
  grid-column: span 20;
}

.h04a {
  grid-column: span 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h04b {
  grid-column: span 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h04_endcap {
  grid-column: span 80;
}

.i01 {
  grid-column: span 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i02 {
  grid-column: span 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i03 {
  grid-column: span 60;
}

.i04 {
  grid-column: span 20;
}

.i04a {
  grid-column: span 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i04b {
  grid-column: span 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  grid-column: span 10;
}

.italic {
  font-style: italic;
}

.headerA {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
  background-color: lightgray;
  grid-column: span 25;
}

.headerB {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  background-color: lightgray;
}

.left {
  display: block;
  justify-content: left;
  align-items: flex-start;
  border: 5px;
}

.headerHeaderLeft {
  display: flex;
  justify-content: left;
}

.headerHeaderContainer {
  display: flex;
  justify-content: right;
}

.HeaderInlineLeft {
  display: flex;
  width: 50%;
  justify-content: left;
}
.HeaderInlineRight {
  display: flex;
  width: 50%;
  justify-content: right;
}

.whiteText {
  display: flex;
  color: white;

  margin-top: 20vh;
  align-items: center;
  width: 65vw;
  padding-left: 15vw;
  border: 5px;
}

/* THIS IS SUPER JANKY! FIGURE OUT A BETTER WAY TO TAKE UP THE WHOLE SCREEN LIKE A FLEX BOX*/
.homeHeight {
  min-height: 94vh;
}

.tableGApplies {
  display: none;
}

.tableFAttributes {
  display: none;
}

.tableHApplies {
  display: none;
}
