{% extends "base.html"%}
{% block title%}
Home Page
{% endblock %}
{% block content%}
<div class="homeHeight d-flex h-100 p-3 mx-auto flex-column navbar-dark bg-dark">
    <div class="whiteText d-flex h-100 p-3 mx-auto flex-column">
        <main role="main" class="customMain cover">
            <h1 class="cover-heading">Energy Code Forms</h1>
            <p class="lead">Need to complete compliance forms to demonstrate compliance with Title 24, Part 6?</p>
            <p class="lead">
            <a href="/lts" class="btn btn-lg btn-secondary">Get Started!</a>
            </p>
        </main>
    </div>
</div>
 
{% endblock %}