{% extends "base.html"%} {% block title%} Home Page {% endblock %} {% block
content%}
<div class="fakeBody">
  <!-- Test Submit Button -->
  <div class="dbTest">
    <form action="#" method="POST">
      <input type="text" name="testName" placeholder="testPlaceholder" />
      <input type="submit" value="submit" />
    </form>
  </div>
  <!-- Header -->
  <div class="signLightingHeader">
    <div class="mainHeader">
      <div class="headerHeaderLeft">STATE OF CALIFORNIA</div>
      <div class="headerHeaderLeft">Sign Lighting</div>
      <div class="headerHeaderContainer">
        <span class="HeaderInlineLeft">NRCC-LTS-E</span>
        <span class="HeaderInlineRight">CALIFORNIA ENERGY COMMISSION</span>
      </div>
    </div>
    <form action="#" method="POST">
      <div class="ltsGrid signLightingHeaderTable">
        <div class="tableHeader">Certificate Of Compliance</div>
        <div class="headerDirections">
          This document is used to demonstrate compliance with requirements in
          110.9, 110.12, 130.0, 130.3. 140.8 and 141.0(b)2M for sign lighting
          scopes using the prescriptive path. Exit signs and traffic signs are
          not required to comply with prescriptive requirements per exceptions
          to 140.8 and do not need to complete this compliance document.
        </div>
        <div class="headerHeader">Project Name:</div>
        <input type="text" class="headerInput hover" name="projectName" />
        <div class="headerHeader">Project Address:</div>
        <input type="text" class="headerInput hover" name="projectAddress" />
        <div class="headerHeader">Date Prepared:</div>
        <input type="date" placeholder="YYYY-MM-DD" class="headerInput ß" name="datePrepared" />
      </div>
      <div><button type="submit">Submit</button></div>
    </form>
  </div>
  <!-- JANKY! Remove this -->
  <div class="spaceBetweenTables">
    0<br />
    0 0
  </div>
  <!-- Table A -->
  <div class="ltsGrid ltsGrid_tableA">
    <div class="tableHeader">A. General Information</div>
    <div class="headerNum">01</div>
    <div class="headerA">Project Location (city):</div>
    <input class="hover" type="text" name="location" />
    <div class="headerNum">02</div>
    <div class="headerA">Climate Zone:</div>
    <select class="hover italic" name="location">
      <option value="" disabled selected>(dropdown)</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="19">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
    </select>
    <div class="headerNum span2Row">03</div>
    <div class="header span2Row">Occupancy Types Within Project:</div>
    <div class="inputWrapper">
      <input
        class="checkBoxA hover"
        type="checkbox"
        id="healthcareCheckbox"
        value="healthcare"
        name="healthcare"
      />
      <label for="healthcare">Healthcare Facility</label>
    </div>
    <div class="inputWrapper">
      <input
        class="checkBoxA hover"
        type="checkbox"
        value="multifamily"
        name="multifamily"
      />
      <label for="multifamily"
        >Multifamily.MF Mixed-use>=4 stories(including dormitory, senior
        living)</label
      >
    </div>
  </div>
  <!-- JANKY! Remove this -->
  <div class="spaceBetweenTables">
    0<br />
    0 0
  </div>
  <!-- Table B -->
  <div class="ltsGrid ltsGrid_tableB">
    <div class="tableHeader">B. Project Scope</div>
    <div class="headerDirections">
      This table includes illiminated signs that are within the scope fo the
      permit application and are demonstrating compliance using the prescriptive
      path outlined in 140.8/170.2(e) or 141.0b2M/180.2(b)4bvi for alterations.
      Exit signs and traffice signs are not required to comply with prescriptive
      requirements per exceptions to 140.8/170.2(e) and do not need to complete
      this compliance document.
    </div>
    <div class="headerNum B01">01</div>
    <div class="headerNum B02">02</div>
    <div class="headerNum B03">03</div>
    <div class="headerNum B04">04</div>
    <div class="headerNum B05">05</div>
    <div class="headerB B01">Name or Item Tag</div>
    <div class="headerB B02">Complete Sign Description</div>
    <div class="headerB B03">Sign Status</div>
    <div class="headerB B04">Sign Type</div>
    <div class="headerB B05">Compliance Method</div>
    <input type="text" id="b01_Name" class="B01 hover" name="nameOrItem_sign" />
    <input type="text" id="b02_Description" class="B02 hover" name="descriptionSign" />
    <select class="B03 hover italic" name="status_Sign">
      <option value="" disabled selected>(dropdown)</option>
      <option value="new">New</option>
      <option value="altered">Altered</option>
    </select>
    <select id="b04_Value" class="B04 hover italic" name="type_Sign">
      <option value="" disabled selected>(dropdown)</option>
      <option value="Indoor">Indoor</option>
      <option value="Outdoor">Outdoor</option>
      <option value="Center">Elec Message Center</option>
    </select>
    <select
      class="B05 hover italic"
      name="compliance_Method"
      id="compliance_Method"
    >
      <option value="" disabled selected>(dropdown)</option>
      <option value="maxAllowedLP" id="maxAllowedLP">
        Max Allowed Lighting Power
      </option>
      <option value="alternateLightSources" id="alternateLightSources">
        Alternate Light Sources
      </option>
      <option value="energyVerifiedLabel" id="energyVerifiedLabel">
        Energy Verified Label
      </option>
    </select>
  </div>
  <!-- JANKY! Remove this -->
  <div class="spaceBetweenTables">
    0<br />
    0 0
  </div>
  <!-- Table C -->
  <div class="ltsGrid ltsGrid_tableC">
    <div class="tableHeader">C. Compliance Results</div>
    <div class="headerDirections">
      Results in this table are automatically calculated from data input and
      calculations in Tables B through H.<br />Note: If any cell on this table
      says "COMPLIES with Exceptional Conditions" refer to Table D. Exceptional
      Conditions for guidance or see the applicable Table referenced below.
    </div>
    <div class="C01">01</div>
    <div class="C02">02</div>
    <div class="C03">03</div>
    <div class="C-GT"></div>
    <div class="C04">04</div>
    <div class="C-OR1"></div>
    <div class="C05">05</div>
    <div class="C-OR2"></div>
    <div class="C06 Column">06</div>
    <div class="C07">07</div>
    <div class="C01">Name or Item Tag</div>
    <div class="C02">Complete Sign Description</div>
    <div class="C03">Total Allowed<br />(Watts)</div>
    <div class="C-GT">&#8805;</div>
    <div class="C04">Total Designed<br />(Watts)</div>
    <div class="C-OR1">OR</div>
    <div class="C05">Compliant Light Sources</div>
    <div class="C-OR2">OR</div>
    <div class="C06">Energy Verified Label</div>
    <div class="C07">Compliance Results</div>
    <div class="C01">(See Table B)</div>
    <div class="C02">(See Table B)</div>
    <div class="C03">(See Table F)</div>
    <div class="C-GT"></div>
    <div class="C04">(See Table F)</div>
    <div class="C-OR1"></div>
    <div class="C05">(See Table G)</div>
    <div class="C-OR2"></div>
    <div class="C06">(See Table H)</div>
    <div class="C07"></div>
    <div id="c01_Name" class="C01 hover"></div>
    <div id="c02_Description" class="C02 hover" ></div>
    <input type="text" class="C03 hover" />
    <div class="C-GT">&#8805;</div>
    <input type="text" class="C04 hover" />
    <div class="C-OR1">OR</div>
    <input type="text" class="C05 hover" />
    <div class="C-OR2">OR</div>
    <input type="text" class="C06 hover" />
    <input type="text" class="C07 hover" />
  </div>
  <!-- JANKY! Remove this -->
  <div class="spaceBetweenTables">
    0<br />
    0 0
  </div>
  <!-- Table D -->
  <div class="ltsGrid ltsGrid_tableD">
    <div class="tableHeader">D. Exceptional Conditions</div>
    <div class="headerDirections">
      This table is auto-filled with uneditable comments because of selections
      made or data entered in tables throughout the form
    </div>
    <div class="D01">This section does not apply</div>
  </div>
  <!-- JANKY! Remove this -->
  <div class="spaceBetweenTables">
    0<br />
    0 0
  </div>
  <!-- Table E -->
  <div class="ltsGrid ltsGrid_tableE">
    <div class="tableHeader">E. Additional Remarks</div>
    <div class="headerDirections">
      This table includes remarks made by the permit applicant to the Authority
      Having Jurisdiction.
    </div>
    <input class="E01" />
  </div>
  <!-- JANKY! Remove this -->
  <div class="spaceBetweenTables">
    0<br />
    0 0
  </div>

  <!-- Table F -->
  <div class="ltsGrid ltsGrid_tableF" id="tableF">
    <div class="tableHeader">
      Table F. Maximum Allowed Lighting Power and Controls
    </div>
    <div class="headerDirections tableFAttributes">
      This table includes illuminated signs using the Maximum Allowd Lighting
      Power compliance method per 140.8(a)/170.2(e) as indicated on Table B of
      this compliance document. It also demostrates compliance with mandatory
      controls requirements from 130.3/160.5(d) by indicating control types for
      each sign.
    </div>
    <div class="F01 tableFAttributes">01</div>
    <div class="F02 tableFAttributes">02</div>
    <div class="F03 tableFAttributes">03</div>
    <div class="F04 tableFAttributes">04</div>
    <div class="F05 tableFAttributes">05</div>
    <div class="F06 tableFAttributes">06</div>
    <div class="F07 tableFAttributes">07</div>
    <div class="F08 tableFAttributes">08</div>
    <div class="F09 tableFAttributes">09</div>
    <div class="F01 doubleRow tableFAttributes">Name or Item Tag</div>
    <div class="F02 doubleRow tableFAttributes">Complete Sign Description</div>
    <div class="F03 doubleRow tableFAttributes">Illiminated Method</div>
    <div class="F04 doubleRow tableFAttributes">Sign Area (ft2)</div>
    <div class="F05 doubleRow tableFAttributes">Allowed Density (W/ft2)</div>
    <div class="F06 doubleRow tableFAttributes">Allowance (Watts)</div>
    <div class="F07 doubleRow tableFAttributes">Design Watts</div>
    <div class="F08 tableFAttributes">Mandatory Controls</div>
    <div class="F09 tableFAttributes">Field Inspector</div>
    <div class="F08a tableFAttributes">Shut Off</div>
    <div class="F08b tableFAttributes">Dimming</div>
    <div class="F08c tableFAttributes">Demand Response</div>
    <div class="F09a tableFAttributes">Pass</div>
    <div class="F09b tableFAttributes">Fail</div>
    <div id="f01_Name" class="F01 tableFAttributes" ></div>
    <div id="f02_Description" class="F02  tableFAttributes" ></div>
    <select id="f03_Method" class="F03 hover tableFAttributes">
      <option value="" disabled selected>dropdown</option>
      <option value="internally">Iternally</option>
      <option value="externally">Externally</option>
    </select>
    <input type="text" id="f04_Value" class="F04 hover tableFAttributes" />
    <div id="f05_Value" class="F05 tableFAttributes"></div>
    <div id="f06_Value" class="F06 tableFAttributes"></div>
    <input type="text" id="f07_Value" class="F07 hover tableFAttributes" />
    <!-- SELECT BELOW NEEDS JS LOGIC. THE OPTIONS BELOW ARE JUST FOR ONE SCENARIO-->
    <select id ="F08a" class="F08a hover tableFAttributes">
      <option value="" disabled selected>dropdown</option>
      <option value="AutoTimer">Auto Timer</option>
      <option value="Astrn. Timer">Astrn. Timer</option>
      <option value="Other">Other*</option>
    </select>
    <select id ="F08b" class="F08b hover tableFAttributes">
      <option value="" disabled selected>dropdown</option>
      <option value="NA">NA</option>
    </select>
    <select id ="F08c" class="F08c hover tableFAttributes">
      <option value="" disabled selected>dropdown</option>
      <option value="NA">NA</option>
    </select>
    <input type="checkbox" class="F09a checkBoxF hover tableFAttributes" />
    <input type="checkbox" class="F09b checkBoxF tableFAttributes hover" />
    <div class="F01_begincap tableFAttributes tableFOptionalRow"></div>
    <div class="F03 tableFAttributes tableFOptionalRow">10</div>
    <div class="F04_doublewide tableFAttributes tableFOptionalRow">11</div>
    <div class="F06 tableFAttributes tableFOptionalRow">12</div>
    <div class="F07_doublewide tableFAttributes tableFOptionalRow">13</div>
    <div class="F08a tableFAttributes tableFOptionalRow">14</div>
    <div class="F08_endcap tableFAttributes tableFOptionalRow"></div>
    <div class="F01_begincap tableFAttributes tableFOptionalRow"></div>
    <div class="F03 tableFAttributes tableFOptionalRow">Name or Item Tag</div>
    <div class="F04_doublewide tableFAttributes tableFOptionalRow">
      Complete Luminaire Description
    </div>
    <div class="F06 tableFAttributes tableFOptionalRow">Watts per Luminaire</div>
    <div class="F07_doublewide tableFAttributes tableFOptionalRow">How Wattage is Determined</div>
    <div class="F07 tableFAttributes tableFOptionalRow">Total number luminaires</div>
    <div class="F08_endcap tableFAttributes tableFOptionalRow"></div>
    <div class="F01_begincap tableFAttributes tableFOptionalRow"></div>
    <input type="text" class="F01 hover tableFAttributes tableFOptionalRow" />
    <input type="text" class="F02 hover tableFAttributes tableFOptionalRow" />
    <input type="text" id="f12_Value" class="F03 hover tableFAttributes tableFOptionalRow" />
    <select class="F07_doublewide hover tableFAttributes tableFOptionalRow">
      <option value="NA8">NA8 Default</option>
      <option value="Mfr">Mfr Spec</option>
      <option value="Alt">Alt Sources per 140.8(b)/170.2(e)</option>
      <option value="Other">Other</option>
    </select>
    <input type="text" id="f14_Value" class="F06 hover tableFAttributes tableFOptionalRow" />
    <div class="F08_endcap tableFAttributes tableFOptionalRow"></div>
    <div class="F01_begincap_extralong tableFAttributes"></div>
    <button type="button" class="button tableFAttributes">Add Row</button>
    <button type="button" class="button tableFAttributes">Delete Row</button>
    <div class="fullLengthRow tableFAttributes tableF_StarOptions">
      * Notes: Controls with a * require a note in the space below explaining
      how compliance is achieved. Ex: Sign within a tunnel illuminated day &
      night; Excepetion to 130.3(a)2A
    </div>
    <div id="FExplanationName" class="F01 tableFAttributes tableF_StarOptions"></div>
    <input type="text" class="F02_extraLong hover tableFAttributes tableF_StarOptions" />
    <div class="F01_begincap_extralong2 tableFAttributes"></div>
    <button type="button" class="button tableFAttributes">Reset</button>
    <div class="fullLengthRow tableFDoesNotApplyAttribute">
      This section does not apply
    </div>
  </div>
  <!-- JANKY! Remove this -->
  <div class="spaceBetweenTables">
    0<br />
    0 0
  </div>

  <!-- Table G -->
  <div class="ltsGrid ltsGrid_tableG" id="tableG">
    <div class="tableHeader">G. Light Sources and Controls</div>
    <div class="headerDirections tableGApplies">
      This table includes signs using the Alternative Sources Compliance
      compliance method per 140.8(b)/170.29e as indicated on Table B of this
      compliance document. It also demonstrates compliance with mandatory
      controls requirements from 130.3/160.5(d) by indicating control types for
      each sign.
    </div>
    <div class="G01 tableGApplies">01</div>
    <div class="G02 tableGApplies">02</div>
    <div class="G03 tableGApplies">03</div>
    <div class="G04 tableGApplies">04</div>
    <div class="G05 tableGApplies">05</div>
    <div class="G01 doubleRow tableGApplies">Name or Item Tag</div>
    <div class="G02 doubleRow tableGApplies">Complete Sign Description</div>
    <div class="G03 doubleRow tableGApplies">Compliant Light Sources</div>
    <div class="G04 tableGApplies">Mandatory Controls</div>
    <div class="G05 tableGApplies">Field Inspector</div>
    <div class="G04a tableGApplies">Shut Off</div>
    <div class="G04b tableGApplies">Dimming</div>
    <div class="G04c tableGApplies">Demand Response</div>
    <div class="G05a tableGApplies">Pass</div>
    <div class="G05b tableGApplies">Fail</div>
    <div id="g01_Name" class="G01 tableGApplies"></div>
    <div id="g02_Description" class="G02 tableGApplies"></div>
    <select class="G03 hover tableGApplies">
      <option value="" disabled selected>(dropdown)</option>
      <option value="highPressure">High Pressure Sodium Lamps</option>
      <option value="MetalHalide88">
        Metal halide lamps (pulse start or ceramic) + ballast 88%+ efficient
      </option>
      <option value="MetalHalide80">
        Metal halide lamps (pulse start that are 320 watts or smaller, are not
        250 watt or 175 watt lamps) + ballast 80%+ efficient
      </option>
      <option value="Neon75">
        Neon/cold cathod + trans/pwr (of supply output current &lt 50mA) 75%+
        efficient
      </option>
      <option value="Neon68">
        Neon/cold cathode + trans/pwr supply (of supply output current &gte
        50mA) 75%+ efficient
      </option>
      <option value="flourescent">
        Flourescent + CRI &gte 80 OR elec ballanst output freq. >20kHz
      </option>
      <option value="NATitle20">
        NA: Ttile 20 compliant single voltage external power supply
      </option>
      <option value="compactFlourescent">
        Compact flourescent w/o med screw based sockets
      </option>
    </select>
    <select id="g04a" class="G04a hover tableGApplies">
      <option value="" disabled selected>dropdown</option>
      <option value="AutoTimer">Auto Timer</option>
      <option value="Astrn. Timer">Astrn. Timer</option>
      <option value="AutoTimer">Other*</option>
    </select>
    <select id="g04b" class="G04b hover tableGApplies">
      <option value="" disabled selected>dropdown</option>
      <option value="NA">NA</option>
    </select>
    <select id="g04c" class="G04c hover tableGApplies">
      <option value="" disabled selected>dropdown</option>
      <option value="NA">NA</option>
    </select>
    <input type="checkbox" class="G05a checkBoxF hover tableGApplies" />
    <input type="checkbox" class="G05b checkBoxF hover tableGApplies" />
    <div class="G01_begincap tableGApplies"></div>

    <button type="button" class="G05a tableGApplies">Add Row</button>
    <button type="button" class="G05b tableGApplies">Delete Row</button>
    <div class="fullLengthRow tableGApplies tableG_StarOptions">
      Notes: Controls with a * require a note in the space below explainig how
      compliance is acheived. EX: Sign within a tunnel illumnated day & night;
      EXCEPTION to 140.4(a)2A
    </div>
    <div id="GExplanationName" class="G01 tableGApplies tableG_StarOptions"></div>
    <input type="text" class="hover tableGApplies tableG_StarOptions g02_Endcap" />
    <div class="g01_Begincap_Longer tableGApplies"></div>
    <button type="button" class="button tableGApplies g05_Endcap">Reset</button>
    <div class="fullLengthRow tableGDoesNotApply">
      This section does not apply
    </div>
  </div>
  <!-- JANKY! Remove this -->
  <div class="spaceBetweenTables">
    0<br />
    0 0
  </div>

  <!-- Table H -->
  <div class="ltsGrid ltsGrid_tableH" id="tableH">
    <div class="tableHeader">H. Energy Verified Labeled Signs and Controls</div>
    <div class="headerDirections tableHApplies">
      This table demonstrates compliance with mandatory controls requirements
      from 130.3/160.5(d) for illuminated signs using the ENERGY VERIFIED label
      compliance method per 140.8(b)/170.2(e) as indicated on Table B of this
      compliance document. This table may only be completed for signs that have
      permanent, pre-printed, factory installed, ENERGY VERIFIED label confirmed
      that the sign complies with the Section 140.8/170.2(e) of the California
      2022 Title 24, part 6 standards
    </div>
    <div class="h01 tableHApplies">01</div>
    <div class="h02 tableHApplies">02</div>
    <div class="h03 tableHApplies">03</div>
    <div class="h04 tableHApplies">04</div>
    <div class="h01 doubleRow tableHApplies">Name or Item Tag</div>
    <div class="h02 doubleRow tableHApplies">Complete Sign Description</div>
    <div class="h03 tableHApplies">Mandatory Controls</div>
    <div class="h04 tableHApplies">Field Inspector</div>
    <div class="h03a tableHApplies">Shut Off</div>
    <div class="h03b tableHApplies">Dimming</div>
    <div class="h03c tableHApplies">Demand Response</div>
    <div class="h04a tableHApplies">Pass</div>
    <div class="h04b tableHApplies">Fail</div>
    <div id="h01_Name" class="h01 tableHApplies"></div>
    <div id="h02_Description" class="h02 tableHApplies"></div>
    <select id="h03a" class="h03a hover tableHApplies">
      <option value="" disabled selected>dropdown</option>
      <option value="AutoTimer">Auto Timer</option>
      <option value="Astrn. Timer">Astrn. Timer</option>
      <option value="AutoTimer">Other*</option>
    </select>
    <select id="h03b" class="h03b hover tableHApplies">
      <option value="" disabled selected>dropdown</option>
      <option value="NA">NA</option>
    </select>
    <select id="h03c" class="h03c hover tableHApplies">
      <option value="" disabled selected>dropdown</option>
      <option value="NA">NA</option>
    </select>
    <input type="checkbox" class="h04a hover checkBoxF tableHApplies" />
    <input type="checkbox" class="h04b hover checkBoxF tableHApplies" />
    <div class="fullLengthRow tableHApplies tableH_StarOptions">
      * Notes: Controls with a * require a note in the space below explaining
      how compliance is achieved. EX: Sign within a tunnel illuminated day &
      night; EXCEPTION to 130.3(a)2A
    </div>
    <div id="HExplanationName" class="h01 tableHApplies tableH_StarOptions"></div>
    <input type="text" class="h04_endcap hover tableHApplies tableH_StarOptions" />
    <div class="fullLengthRow tableHApplies ">
      1 FOOTNOTE: Demand response controls are only requried for an Electroninc
      Message Center having a new connected lighting power load greater than 15
      kW per 110.12(d)
    </div>
    <div class="h01_begincap tableHApplies"></div>
    <button type="button" class="button tableHApplies ">Reset</button>
    <div class="fullLengthRow tableHDoesNotApply">
      This section does not apply
    </div>
  </div>
    <!-- JANKY! Remove this -->
    <div class="spaceBetweenTables">
      0<br />
      0 0
    </div>

    <!-- Table I -->
    <div class="ltsGrid ltsGrid_tableI">
      <div class="tableHeader">
        I. Declaration of Required Certificates of Installation
      </div>
      <div class="headerDirections">
        Selections have been made based on information in this document. If any
        selections have been changed by the permit applicant, an explanation
        should be included in Table E. Additional Remarks. These documents must
        be provided to the buildign inspector during construction and can be
        found online at
      </div>
      <div class="i01 doubleRow">YES</div>
      <div class="i02 doubleRow">NO</div>
      <div class="i03 doubleRow">Form/Title</div>
      <div class="i04">Field Inspector</div>
      <div class="i04a">Pass</div>
      <div class="i04b">Fail</div>
      <input type="checkbox" id="yes_NRCILTS" class="i01" checked/>
      <input type="checkbox" id="no_NRCILTS" class="i02" />
      <div class="i03">NRCI-LTS-E - Must be submitted for all buildings.</div>
      <input type="checkbox" class="i04a" />
      <input type="checkbox" class="i04b" />
    </div>
    <!-- JANKY! Remove this -->
    <div class="spaceBetweenTables">
      0<br />
      0 0
    </div>

    <!-- Table J -->
    <div class="ltsGrid ltsGrid_tableJ">
      <div class="tableHeader">J. Declaration of Required</div>
      <div class="headerDirections">
        There are no Certificates of Acceptance applicable to sign lighting
        requirements
      </div>
    </div>

    <!-- JANKY! Remove this -->
    <div class="spaceBetweenTables">
      0<br />
      0 0
    </div>
  </div>
  <script src="../static/javascript/lts.js"></script>
  > {% endblock %}
</div>
