{% extends "base.html"%} {% block title%} Login Page {% endblock %} {% block
    content%}
    <form method="POST">
      <h3 text-align="center">Login</h3>
      <div class="form-group">
        <label text-align="left" for="email"  >Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter Password"
          class="form-control"
        />
      </div>
    <br />
      <button type="submit" class="btn btn-primary">Log In</button>
          <!-- FIX ME: I think there are duplicate closing form tags, remove the one below-->
      </form>
    </form>
    {% endblock %}
    
