* {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
    font-size: 1em;
}

.fakeBody {
    border: 2px;
    border-style: solid;
    border-color: black;
    background-color: lightgray;
    justify-content: center;
    margin: 4vw;
  }

  .mainHeader{
    display: box;
    padding:5px;
    justify-content: left;
    font-style: italic;
  }

  .ltsGrid{
    background-color: lightgray;

    display: grid;
}

.signLightingHeader{
    display: flexbox;
    justify-content: left;
    border:3px;
}

.signLightingHeaderTable{
    grid-template-columns: repeat(100, .92vw);
    grid-template-rows: repeat(6, 5vh);
}

.ltsGrid_tableA{
  grid-template-columns: repeat(100, .92vw);
    grid-template-rows: repeat(5, 5vh);
}

.ltsGrid_tableB{
    grid-template-columns: repeat(100, .92vw);
      grid-template-rows: repeat(6, 5vh);
  }

.ltsGrid>*{
    border: 2px;
    border-style: solid;
    border-color:black;
}

.hover:hover{
    background-color:#FFFF0025;
}

.tableHeader{
    padding-left: .5vw;
    display: flex;
    align-items:center;
    grid-column: span 100;
    font-weight: bolder;
    font-size: 1.5em;
    background-color: lightgray;
}

.header{
    display: flex;
    align-items:center;
    justify-content: right;
    padding-right: 10px;
    background-color: lightgray;
    grid-column: span 25;
}

.headerNum{
    display: flex;
    align-items:center;
    justify-content: center;
    grid-column: span 5;
    grid-row: span 1;
}

.headerDirections {
    grid-column: span 100;
    grid-Row: span 2;
    display: flex;
    align-items: center;
}

input{
    grid-column: span 70;
}

select{
    grid-column: span 70;
}

.groupCheckboxOuter{
    grid-column: span 70;
    display: flex;
    display: flex;
    align-items:center;
}

.span2Row {
    grid-row: span 2;
}

.checkBoxA {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(2);
    padding-right: 5px;
}

input{
    margin: 0;
}

.inputWrapper {
    grid-column: span 70;
    display: flex;
    padding-left: 10px;
    align-items: center;
}

label {padding: 10px;}

.spaceBetweenTables{
    border: 2px;
    border-color: black;
    border-style: solid;
    color: lightgray;

}

.headerDirections{
    font-style: italic;
}

.headerHeader{
    display: flex;
    align-items:center;
    justify-content: right;
    padding-right: 10px;
    background-color: lightgray;
    grid-column: span 20;
}

.headerInput{
    margin: 0;
    grid-column: span 80;
}

.B01{
    grid-column: span 20;
}

.B02{
    grid-column: span 20;
}

.B03{
    grid-column: span 20;
}

.B04{
    grid-column: span 20;
}

.B05{
    grid-column: span 20;
}



.italic{
    font-style: italic;
}

.headerA{
    display: flex;
    align-items:center;
    justify-content: right;
    padding-right: 10px;
    background-color: lightgray;
    grid-column: span 25;
}

.headerB{
    display: flex;
    align-items:center;
    justify-content: center;
    padding-right: 10px;
    background-color: lightgray;
}

.left{
    display: block;
    justify-content: left;
    align-items:flex-start;
    border:5px;
}

.headerHeaderLeft{
    display:flex;
    justify-content: left;
}

.headerHeaderContainer{
    display:flex;    
    justify-content: right;
}

.HeaderInlineLeft{

    display:flex;
    width: 50%;
    justify-content: left;
}
.HeaderInlineRight{
    display:flex;
    width: 50%;
    justify-content: right;
}

.whiteText {
    display: flex;
    color: white;

    margin-top: 20vh; 
    align-items: center;
    width: 65vw;
    padding-left: 15vw;
    border: 5px;
}

/* THIS IS SUPER JANKY! FIGURE OUT A BETTER WAY TO TAKE UP THE WHOLE SCREEN LIKE A FLEX BOX*/
.homeHeight{
    min-height: 94vh;
}















